body {
    background-color: gainsboro;
    margin-left: 5%;
    margin-right: 5%;
}
.jumbotron {
    background-color: turquoise;
    color: black;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
.display-4 {
    font-weight: bold;
}
button {
    background-color: black;
    color: turquoise;
    height: 25px;
}

form {
    float: left;
    margin-top: 25px;
    margin-bottom: 25px;
}

#gifs-appear-here {
    clear: both;
}